<?xml version="1.0"?>
<robot name="simple_robot">
    <link name="link0"> ... </link>
    <link name="link1"> ... </link>
    <link name="link2"> ... </link>
    <link name="link3"> ... </link>
    <link name="link4"> ... </link>
    <link name="link5"> ... </link>
    <joint name="joint0" type="continuous">
        <parent link="link0" />
        <child link="link1" />
        ...
    </joint>
    <joint name="joint1" type="continuous">
        <parent link="link2" />
        <child link="link3" />
    </joint>
    <joint name="joint2" type="continuous">
        <parent link="link4" />
        <child link="link5" />
    </joint>


</robot>